@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #F1F0E8;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #96B6C5;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #ADC4CE;
  }