@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f0e8;
}

::-webkit-scrollbar-thumb {
  background: #96b6c5;
}

::-webkit-scrollbar-thumb:hover {
  background: #adc4ce;
}
